debug = true

logLevel = "DEBUG"
defaultEntryPoints = ["https","http"]


[entryPoints]
  [entryPoints.http]
  address = ":80"
    [entryPoints.http.redirect]
    entryPoint = "https"
  [entryPoints.https]
  address = ":443"
  [entryPoints.https.tls]

[retry]

[api]

[docker]
domain = "pynz.ru"
watch = true

[acme]
email = "karagabul@gmail.com"
storage = "/etc/traefik/acme.json"
entryPoint = "https"
onHostRule = true
[acme.httpChallenge]
entryPoint = "http"

