notebook==5.5.0
oauthenticator==0.7.3

numpy>=1.14.2
pandas>=0.22.0
xgboost>=0.7
keras>=2.1.4
scipy>=1.0.1
scikit-learn>=0.19.0
matplotlib>=1.5.1
seaborn>=0.8.0
beautifulsoup4>=4.6.0
catboost>=0.8.1
graphviz==0.8.2
ipyparallel==6.0.2
plotly==2.1.0
psycopg2-binary==2.7.5
pydot==1.2.4
pydotplus==2.0.2
snowballstemmer==1.2.1
tqdm==4.19.4